<nav role="navigation" class="navbar navbar-default  navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Food Market</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse" ng-controller="HeaderController">

			<ul class="nav nav-pills pull-right">
				<div class="navbar-form navbar-left">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search"
							ng-model="searchField" ng-change="getResult(searchField, selectedValue)">
						<div class="dropdown-content">
						  <ul style="list-style: none;" ng-repeat="res in resList">
						    <li style="margin: 5px;"><a href="#/{{href}}/{{res.name}}">{{res.name}}</a></li>
						  </ul>
						</div>
					</div>
					<select class="form-control" ng-model="selectedValue" ng-init="selectedValue = 'food'" ng-change="getResult(searchField, selectedValue)">
						<option value="food">Food</option>
						<option value="foodRecipe">Food Recipe</option>
					</select>
				</div>
			</ul>


				<!--
				<li><a ng-href="#/login" ng-if="!$root.user">Login</a></li>
					
				<li class="dropdown" ng-if="$root.user">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<span>{{$root.user.username}}</span>
						<b class="caret"></b>
					</a>

					<ul class="dropdown-menu">
						<li>
							<a ng-click="profile()" class="clickable" tittle="Profile">
							<i class="glyphicon glyphicon-user"></i>Profile</a>
						</li>
					    	
					    <li>
							<a ng-click="logout()" class="clickable" tittle="logout">
					    	<i class="glyphicon glyphicon-off"></i>Logout</a>
						</li>
				  	</ul>
				</li>
			
			</ul>
			<!-- <div class="row">
				<ul class="nav navbar-nav" ng-if="$root.user.role === 'ROLE_ADMIN'">
					Treba da se smenat
					<li><a>Admin:</a></li>
					
					<li ng-class="{ active: isActive('/products')}"><a ng-href="#/products">Edit Products</a></li>
					<li ng-class="{ active: isActive('/admin/types')}"><a ng-href="#/admin/types">Edit Types</a></li>
					<li ng-class="{ active: isActive('/admin/categories')}"><a ng-href="#/admin/categories">Edit Category</a></li>
					<li ng-class="{ active: isActive('/admin/stalls')}"><a ng-href="#/admin/stalls">Edit Stalls</a></li>
					<li ng-class="{ active: isActive('/admin/sellers')}"><a ng-href="#/admin/sellers">Edit Sellers</a></li>
				</ul>
			</div> -->
		</div>
		<!--/.nav-collapse -->
	</div>
</nav>
<style>
		.dropdown-content {
	    display: block;
	    position: absolute;
	    background-color: #f9f9f9;
	    min-width: 200px;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    z-index: 1;
	    
	    
}
	</style>
