<table ng-table="tableParams" show-filter="true"
			class="table">

			<tr ng-repeat="e in $data">
				<td  data-title="'Compound name'" sortable="'name'"
					filter="{ 'name': 'text' }"><a ng-href="#/by_compound_name/{{e.name}}">{{ e.name }}</a></td>
				<td data-title="' Type '" sortable="'type'"
					filter="{ 'group': 'text' }">{{ e.type }}</td>
				<td data-title="'Average mass'" sortable="'moldbAverageMass'"
					filter="{ 'subgroup': 'text' }">{{ e.moldbAverageMass }}</td>
					<style>
						.trim-info {
      max-width: 150px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;  
      line-height: 15px;
      position: relative;
   }
					</style>
					
	<!-- 			<td data-title="'Edit'">
					<button ng-click="showEdit(e)" class="btn btn-primary btn-xs">
						<i class="glyphicon glyphicon-edit"></i> Edit
					</button>
				</td>
				
				<td data-title="'Remove'">
					<button ng-click="remove(e.id)" class="btn btn-danger btn-xs">
						<i class="glyphicon glyphicon-remove"></i> Remove
					</button>
				</td> -->
				
			</tr>
		</table>