<table ng-table="tableParams" show-filter="true"
			class="table">

			<tr ng-repeat="e in $data">
				<td  data-title="'Nutrient name'" sortable="'name'"
					filter="{ 'name': 'text' }">{{ e.name }}</td>
				<td data-title="' Chebi name '" sortable="'chebi_name'"
					filter="{ 'group': 'text' }">{{ e.chebi_name }}</td>
					<style>
						.trim-info {
      max-width: 150px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;  
      line-height: 15px;
      position: relative;
   }
					</style>
			</tr>
		</table>