<div class="container-fluid" >
	<div class="col-md-12">

		<div class="row">
			<div class="panel panel-info">
				<div class="panel panel-heading">
					<h3 class="text-center">{{product.name}}</h3>
				</div>

				<div class="panel panel-body">
					<div class="col-md-4">
						<img class="img-rounded" style="width: 250px"
							ng-src="imgs/products/{{product.imgUrl}}" />

					</div>
					<div class="col-md-8">

						<div class="row">
							<h3>
								<b>Product Description</b>
							</h3>
							<p>{{product.description}}</p>
						</div>
						<hr>

						<div class="row">
							<div class="col-md-4">
								<h4>
									<b>Category</b>
								</h4>
							</div>
							<div class="col-md-8">
							<a ng-href="#/browse_category/{{product.category.id}}">
								<h4>{{product.category.name}}</h4></a>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">

								<h4>
									<b>Type</b>
								</h4>
							</div>
							<div class="col-md-8">
								<a ng-href="#/browse_type/{{product.type.id}}">
									<h4>{{product.type.name}}</h4>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<h4>
									<b>Price</b>
								</h4>
							</div>
							<div class="col-md-8">
								<h4>{{product.price}}</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<h4>
									<b>Product is on stall</b>
								</h4>
							</div>
							<div class="col-md-8">
								<a ng-href="#/stalls/{{product.stall.id}}">
									<h4>{{product.stall.number}}</h4>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<h4>
									<b>Stall owner</b>
								</h4>
							</div>
							<div class="col-md-8">
								<a ng-href="#/sellers/{{product.stall.seller.id}}">
									<h4>{{product.stall.seller.user.fistName}}
										{{product.stall.seller.user.lastName}}</h4>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<input type="number" class="form-control" style="width: 70px;"
								ng-model="qty"  min="1" max="{{product.quantity}}" ng-click="$event.stopPropagation();" />
							</div>
							<div class="col-md-4">
								<h4>
									<button class="btn btn-primary" ng-click="addToCart(); $event.stopPropagation();">
										<i class="glyphicon glyphicon-shopping-cart"></i>Add to cart
									</button>
								</h4>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>
