<div>
	<input type="file" ng-file-select="onFileSelect($files)" multiple accept="image/*">
	<input type="button" ng-click="save($files)" type="submit" value="Upload">
	
	<!-- <div align="center">
        <form method="post" action="#" enctype="multipart/form-data">
            <table border="0">
                <tr>
                    <td>Pick file #1:</td>
                    <td><input type="file" ng-file-select="onFileSelect($files)" multiple accept="image/*" size="50" /></td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><input ng-click="save($files)" type="submit" value="Upload" /></td>
                </tr>
            </table>
        </form>
    </div> -->
</div>
