
<div class="col-sm-12">
	<div class="panel panel-default text-center clickable"
		ng-click="display()">

		<div class="panel panel-heading">
			<div class="row center-block">
				<div class="col-md-12">
					<h4 class="text-center">{{entity.name}}</h4>
				</div>
			</div>
		</div>
		<div class="panel-body">

			<div class="row">
				<img class="img-rounded" style="height: 150px"
					ng-src="imgs/products/{{entity.imgUrl}}" />
			</div>



			<div class="row" style="margin: 0 auto">
				<div class="col-md-12">Price: ${{entity.price}}</div>
			</div>
			<br />
			<div class="row" ng-if="$root.user.role === 'ROLE_USERS'">
				<div class="col-md-6">
					<div class="col-md-4">
						<h4>Qty</h4>
					</div>
					<div class="col-md-8">
						
						<input type="number" class="form-control" style="width: 70px;"
							ng-model="qty"  min="1" max="{{entity.quantity}}" ng-click="$event.stopPropagation();" />

					</div>
				</div>
				<div class="col-md-6" ng-if="shoppingCart">
					<button class="btn btn-primary btn-md"
						ng-click="addToCart(); $event.stopPropagation();">
						<i class="glyphicon glyphicon-shopping-cart"></i> Add to cart
					</button>
				</div>
				<div class="col-md-6" ng-if="removeBtn">
					<button class="btn btn-danger btn-sm"
						ng-click="removeFromCart({orderId:orderId}); $event.stopPropagation();">
						<i class="glyphicon glyphicon-shopping-cart"></i> Remove from cart
					</button>
				</div>

			</div>

		</div>

	</div>
</div>


